body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Nowoczesny nagłówek */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}


a {
    text-decoration: none; /*ogólne style dla linków*/
    color: blue;
}

a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Stylizacja przycisku menu */
#nav-toggle {
    background-color: #4CAF50; /* Zielone tło */
    color: white; /* Biały tekst */
    padding: 10px 20px; /* Odstępy wewnętrzne */
    border: solid 1px; /* Obramowanie przycisku */
    border-bottom: 3px solid white; /* Ciemniejsze obramowanie na dole */
    border-left: 3px solid white; /* Ciemniejsze obramowanie po lewej */
    border-radius: 5px; /* Zaokrąglone rogi */
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    font-size: 16px; /* Rozmiar tekstu */
    transition: background-color 0.3s ease; /* Płynne przejście koloru tła */
}

#nav-toggle:hover {
    background-color: #45a049; /* Ciemniejszy zielony po najechaniu */
}

#nav-toggle:active {
    background-color: #3e8e41; /* Jeszcze ciemniejszy zielony po kliknięciu */
    transform: translateY(2px); /* Przesunięcie w dół po kliknięciu */
}

main {
    margin-bottom: 60px; /* Zapobiega zakryciu treści przez pasek informacyjny */
}

/* Stylizacja tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

button {
    background-color: #4caf50; /* stylizacja przycisku zielony*/
    border: solid 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0,3s ease; 
}

button:hover {
    background-color: #45a049; /* ciemnniejszy zielony*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* cień po najechaniu*/
}

button:focus {
    outline: 0; /* usuwanie obramowania po kliknięciu*/
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* obramowanie po kliknięciu*/
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #007bff;
    color: white;
}


table th:hover {
    background-color: #f5f5f5; /* Stylizacja wiersza nagłówka i kolumny kup po najechaniu*/
    color: black;
}

table tr:hover {
    background-color: #e0e0e0; /* Kolor tła wiersza po najechaniu */
}

td.date {
    font-size: 10px; /* Stylizacja daty w tabeli */
    color: #666;
}

/* Responsywne obrazy */
img {
    max-width: 50%;
    height: auto;
}

/* Karty */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.card-content {
    display: flex; /*stylizacja dla interaktywnych card*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1.5;
    margin-top: 10px;
}

/* Stylizacja dla nagłówka na małych ekranach */
@media (max-width: 767px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .logo {
        max-width: 50%;
    }
}

.marquee {
    position: fixed;
    bottom: 0;
    left: 0; /* Stylizacja dla paska informacyjnego */
    width: 100%;
    background-color: black;
    color: #ffff00;
    white-space: nowrap;
    overflow: hidden;
}

.highlight {
    background-color: #ffff00; /* Stylizacja dla kuponu */
    border: 2px dotted red; /* Stylizacja dla kuponu */
    padding: 2px; /* Stylizacja dla kuponu */
    color: red; /* Stylizacja dla kuponu */
}

.marquee p {
    display: inline-block; /* Stylizacja dla paska informacyjnego */
    padding-left: 100%; /* Stylizacja dla paska informacyjnego */
    animation: marquee 160s linear infinite; /* Stylizacja dla paska informacyjnego */
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}


#pricing-table {
    width: 100vw;
    margin-left: calc(50% - 50vw); /* Center the table */
    padding: 20px 0; /* Add padding to the top and bottom */
    background-color: #5bcd3d; /* Light background for the table */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.pagination { /* Stylizacja dla paginacji */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.nav-arrow { /* Stylizacja dla strzałek nawigacyjnych */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav-arrow:hover { /* Stylizacja dla strzałek nawigacyjnych po najechaniu */
    background-color: #0056b3;
}
.nav-arrow:disabled { /* Stylizacja dla nieaktywnych strzałek nawigacyjnych */
    background-color: #ccc;
    cursor: not-allowed;
}