body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #35424a;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0px;
    width: 100%;
}

/*stylizacja formularza*/
#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center; /*wyśrodkowanie elementów w pionie*/
    justify-content: center; /*wyśrodkowanie elementów w poziomie*/
    max-width: 400px; /*szerokość formularza*/
    margin: 0 auto; /*wyśrodkowanie formularza*/
    height: auto; /*wysokość formularza*/
    border: 2px solid #ccc; /*obramowanie formularza*/
    border-radius: 10px; /*zaokrąglenie rogów formularza*/
    padding: 20px; /*odstępy wewnątrz formularza*/
    background-color: #f9f9f9; /*kolor tła formularza*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*cień formularza*/
    transition: all 0.3s ease; /*płynne przejścia*/
}

#contactForm:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /*zmiana cienia po najechaniu myszką*/
}

#contactForm label {
    display: flex;
    align-items: center; /*wyśrodkowanie etykiety w pionie*/
    margin: 10px 0 5px; /*odstępy między etykietami a polem tekstowym*/
    text-align: left;
    width: 100%;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm textarea {
    resize: vertical;
}

#contactForm input[type="checkbox"] {
    margin-right: 10px; /* Odstęp między polem tekstowym a etykietą */
}

#submitButton {
    background-color: #5bcd3d; /*kolor przycisku*/
    color: white; /*kolor tekstu na przycisku*/
    padding: 10px 20px; /*odstępy wewnątrz przycisku*/
    border: none; /*brak obramowania przycisku*/
    border-radius: 5px; /*zaokrąglenie krawędzi przycisku*/
    cursor: pointer; /*kursor zmienia się na wskazujący*/
    font-size: 16px; /*rozmiar tekstu na przycisku*/
    margin: 0 auto; /*wyśrodkowanie przycisku*/
    display: block; /*przycisk musi być blokiem, aby wyśrodkować go*/
    transition: all 0.3s ease; /*płynne przejścia*/
}

#submitButton:hover {
    background-color: #218838; /*zmiana koloru przycisku po najechaniu myszką*/
}

@media (max-width: 768px) {
    #contactForm {
        max-width: 100%; /* Formularz zajmuje pełną szerokość na urządzeniach mobilnych */
        padding: 10px; /* Zmniejszenie paddingu na urządzeniach mobilnych */
    }
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Zielony kolor */
    color: white; /* Kolor tekstu */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Margines górny */
}
.button:hover {
    background-color: #45a049; /* Ciemniejszy zielony po najechaniu */
}

/* Style dla kontenera certyfikatu */
.cert-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 100vh; /* Wysokość na 100% wysokości widoku */
    position: fixed; /* Utrzymuje kontener w stałej pozycji */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Białe tło z przezroczystością */
    z-index: 1000; /* Na wierzchu innych elementów */
}

.cert-container img {
    max-width: 90%; /* Szerokość maksymalna obrazu */
    max-height: 90%; /* Wysokość maksymalna obrazu */
    border: 5px solid #4CAF50; /* Zielona ramka wokół obrazu */
    border-radius: 10px; /* Zaokrąglone rogi */
}

/* Styl dla przycisku zamykania */
.close-button {
    position: absolute; /* Ustawienie przycisku w górnym rogu */
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f44336; /* Czerwony kolor */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efekt płynnego przejścia */
}

.close-button:hover {
    background-color: #d32f2f; /* Ciemniejszy czerwony po najechaniu */
}