body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-image: url('background/img-background.jpg'); /* Add the background image */
    background-size: cover; /* Make sure the image covers the entire header */
    background-position: center; /* Center the image */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 20px;
    margin-bottom: 4rem;
}

h1 {
    color: #fff;
}

h2 {
    padding: 10px;
    color: #fff;
}

.mission {
    background-color: #a0adad;

}

.history {
    background-color: #d69373;
}

.why-us {
    background-color: #333;
}

.team {
    background-color: #b0c4de;
}

.team-member {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    background-image: url('background/img-background.jpg'); /* Add the background image */
    background-size: cover; /* Make sure the image covers the entire header */
    background-position: center; /* Center the image */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0; /* Ensure no margin */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

footer a {
    color: aqua; /* Change the link color to aqua */
    text-decoration: none; /* Usuwa podkreślenie linku*/
    transition: text-decoration 0.3s ease; /* Smooth transition for hover effect */
}

footer a:hover {
    text-decoration: underline; /* Dodaje podkreślenie linku po najechaniu */
}

#pricing-table {
    width: 100vw;
    margin-left: calc(50% - 50vw); /* Center the table */
    padding: 20px 0; /* Add padding to the top and bottom */
    background-color: #007bff; /* Light background for the table */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.fakturownia-link {
    margin-left: 20px; /* Add left margin to the link */
}

