body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 20px;
    margin-bottom: 4rem;
}

h1 {
    color: #333;
}

h2 {
    padding: 10px;
    color: #fff;
}

.mission {
    background-color: #a0adad;

}

.history {
    background-color: #d69373;
}

.why-us {
    background-color: #a69896;
}

.team {
    background-color: #b0c4de;
}

.team-member {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

